{% extends 'base.html' %}
{% block title %} [avexado] {{ page_name }} {% endblock %}

{% block content %}
<table width="100%">
    <tr>
        <td><h1> {{ page_name }} </h1></td>
        <td><form name="form1" method="GET">
            <p align="right"><input name="codebox1" id="search_form" type="text" placeholder="Search other pages here"/></p>
            <input name="button1"  style="display: none;" type="submit" value="Submit" onClick="return redirect(this.form)"/></td>
        </form>
    </tr>
</table>
This page does not exist. Do you want to <a href="/wiki/{{ page_name }}/edit/">create?</a>
{% endblock %}

{% block foot %}
<br>
<hr>
<p align="right"><i>avexado</i></p>
{% endblock %}

{% block script %}
<script language="javascript">
function redirect (form) {
    window.location = '../'.concat(document.getElementById('search_form').value);
    return false;
};
</script>
{% endblock %}
